In [344]:
import pandas as pd
mov= pd.read_csv(r'C:\Users\Cem\Desktop\Ders_TED\Data_Analysis\Jupyter Notebooks\data\movie.csv')
mov.head()
mov1.drop(columns='variable')

      content_rating            actor
0              PG-13      CCH Pounder
1              PG-13      Johnny Depp
2              PG-13  Christoph Waltz
3              PG-13        Tom Hardy
4                NaN      Doug Walker
...              ...              ...
14743            NaN     Crystal Lowe
14744          TV-14    Sam Underwood
14745            NaN   David Chandler
14746          PG-13      Eliza Coupe
14747             PG         Jon Gunn

[14748 rows x 2 columns]

In [ ]:
Then create a table that displays the number of movies each actor made by content rating. The actor names should be in the index, with the content ratings in the columns, with the counts as the values.